.Practice {
  background: #78b517;
  background: linear-gradient(
    90deg,
    #a5f593 -20%,
    #207cca 34%,
    #3a7577 67%,
    #054896 120%
  );
  width: 100%;
  height: 400px;
}

.Practice h1 {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 110px;
  font-size: 46px;
}

.Practice .btn-row {
  display: flex;
  margin: 16px;
  align-items: center;
  justify-content: space-around;
}

.Practice button {
  width: 25%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: #207cca;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  height: 50px;
  box-shadow: 4px 3px 6px rgba(0, 0, 0);
  transition: all 0.2s ease-out;
}

.Practice button:hover,
.Practice .selected {
  box-shadow: 0 0 0px rgba(0, 0, 0);
  background-color: #ddd;
  color: #195d98;
  border-radius: 8px;
  border: 4px solid #207cca;
}

.Practice footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Practice .question-no {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
}

.Practice footer button {
  width: 100px;
  height: 40px;
}

.Practice footer .disabled {
  box-shadow: 0 0 0px rgba(0, 0, 0);
  background-color: rgb(86, 86, 86);
  color: white;
  cursor: not-allowed;
  transition: all 0.2s ease-out;
}

.Practice footer .disabled:hover {
  background-color: rgb(86, 86, 86);
  color: white;
  border: none;
  border-radius: 0;
}
